	<% unless current_user %>
	<div class="jumbotron">
		<h1>Sign up now and flag yours videos!</h1>
		<p class="lead">Efetue seu login pelo Facebook e comece a usar a ferramenta.</p>

		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => 'btn btn-large btn-success' %>
	</div>


	<% else %>

<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
				<li><a href="javascript: void(0);" data-time="223" class="seek-to">Criando nova aplicação no Rails</a></li>
				<li><a href="javascript: void(0);" data-time="500" class="seek-to">Apresentação da estrutura de pastas do Rails</a></li>
  </ul>
  <div class="tab-content">
<div id="player"></div>
  </div>
</div>




	<% end %>      